/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-abr-2014, 13:36:56
    Author     : raznara
*/

// Css para el menu
.contenedor {
    width: 95%;
    max-width: 1000px;
    margin: auto;
}
    .contenedor p {
        margin-bottom: 40px;
    }

header nav {
    background-color: #3498db;
    margin-bottom: 10px;
    -webkit-transition: all ease .10s;
    -o-transition: all ease .10s;
    transition: all ease .10s;
}

        header nav ul {
            list-style: none;
            overflow: hidden;
        }

            header nav ul li {
                float: left;
            }

                header nav ul li a {
                    display: block;
                    padding: 20px;
                    color: #fff;
                    text-decoration: none;
                }

                header nav ul li a:hover {
                    background-color: #2980b9;
                }

.menu-fixed {
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0; 
    width: 100%;
    /*max-width: 1000px;*/
    box-shadow: 0px 4px 3px rgba(0,0,0,.5);

}

.menu-fixed ul li a {
    padding: 15px 20px;
}
 


body {
    padding-top: 80px;
}

//clases para el colegio
.colegio {
    float: left;
    
    
}

.jumbotron1, .jumbotron2, .jumbotron3 { 
      
    color: blue;
    border: 5px solid blue;
    border-radius: 5px;
    //float: left;    
    margin: 5px;
}

.jumbotron1 {
     width: 300px;
    height: 380px;
    
}

.jumbotron3 {
     width: 300px;
    height: 150px;
    
}

.jumbotron2 {
     width: 800px;
    height: 700px;
    
}

.jumbotron {  
    width: 300px;
    height: 150px; 
    color: blue;
    border: 5px solid blue;
    border-radius: 5px;
    margin: 5px;
    
}

.jumbotron, .jumbotron1, .jumbotron3 {
    float: left;
}

.jumbotron2 {
    float: right;
}

.panel-default>.panel-heading {
    background-color:#60a917;
    color:whitesmoke;
}

th{
    min-width: 30px;
    color: whitesmoke;
    background-color: #9a1616;
}

.datepicker th{
    background-color: white;
    color: black;
}

.list-group-item{
    padding: 3px 8px;
}