/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-abr-2014, 13:36:56
    Author     : raznara
*/



body {
    padding-top: 80px;
}

//clases para el colegio
.colegio {
    float: left;
    
    
}

.jumbotron1, .jumbotron2, .jumbotron3 { 
      
    color: blue;
    border: 5px solid blue;
    border-radius: 5px;
    //float: left;    
    margin: 5px;
}

.jumbotron1 {
     width: 300px;
    height: 380px;
    
}

.jumbotron3 {
     width: 300px;
    height: 150px;
    
}

.jumbotron2 {
     width: 800px;
    height: 700px;
    
}

.jumbotron {  
    width: 300px;
    height: 150px; 
    color: blue;
    border: 5px solid blue;
    border-radius: 5px;
    margin: 5px;
    
}

.jumbotron, .jumbotron1, .jumbotron3 {
    float: left;
}

.jumbotron2 {
    float: right;
}

.panel-default>.panel-heading {
    background-color:#60a917;
    color:whitesmoke;
}

th{
    min-width: 30px;
    color: whitesmoke;
    background-color: #9a1616;
}

.datepicker th{
    background-color: white;
    color: black;
}

.list-group-item{
    padding: 3px 8px;
}